.register-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.form-div{
    z-index: 1;
    width: 50%;
    height: 100%;
    min-width: 350px;
    max-width: 720px;
    max-height: 1080px;
    scrollbar-width: none;
}
.form-div::-webkit-scrollbar, .form-div::-moz-scrollbar, .form-div::-o-scrollbar, .form-div::-ms-scrollbar { 
    display: none;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.logo-h1-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.avatar-div{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.custom-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gen{
    display: flex;
    flex-direction: column;
    margin: 2% 15%;
    width: 68%;
}
.gender-div{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 2% 0;
}

.custom-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image-div{
    width: 50%;
    height: 100%;
    max-width: 950px;
    max-height: 1080px;
    background: url('../../assets/images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 950px) {
    .image-div{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
    .form{
        background-color: rgba(255, 255, 255, 0.855);
    }
    @media screen and (max-height: 1000px) {
        .form{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .avatar-div{
            margin-top: 10px;
        }
    }
}
.input{
    width: 60%;
    height: 5px;
    margin-bottom: 10px;
    border: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-gen{
    width: 40%;
    background-color: #eeeeee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.itf-title{
    /* letter-spacing: 3px; */
    font-size: 1.2rem;
}
.attendance-title{
    text-align: center;
    margin-bottom: 2%;
    font-weight: 100px;
}
.login{
    color: blue;
    margin-bottom: 10px;
}