.header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px 0;
}
.search{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.iconright{
    display: flex;
    justify-content: flex-end;
}

.flex1{
    display: flex;
    justify-content: flex-start;margin-left: 2rem;
}
.Search{
    padding-left: 5px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    align-self: center;

}
#Search1{
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
}
#alignSelf{
    align-self: center;
}
#alignSelf img{
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
}
