.waiting-page{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}
.waiting-head{
    padding-top: 2%;
}
.waiting-head img{
    width: 100px;
}
.waiting-flex{
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.waiting-text{
    width: 50%;
    text-align: center;
    /* margin-bottom: 30vh; */
}
.waiting-text h2{
    margin-bottom: 10vh;
}
.side-img{
    width: 50%;
}
.side-img img{
    width: 100%;
}
@media screen and (max-width: 700px) {
    .waiting-flex{
        margin-left: 5.5em;
    }
    .waiting-text{
        width: 100%;
        /* text-align: justify; */
        word-spacing: 0.1em;
    }
    .side-img img{
        display: none;
    }
    .waiting-button{
        display: flex;
        justify-content: center;
    }
}