@import url('https://fonts.googleapis.com/css?family=Mukta');
*{
  margin: 0;
  padding: 0;
}
body{
  border: 1px solid darkcyan;
  box-sizing: border-box;
  font-family: 'Mukta', cursive;
}

/* .App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
