
*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  font-family:inter;
  background-color: #f8f8f8;
}

/* .App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
