.bighome{
        height: 100vh ;
        margin: auto;
        border: 0px solid rgb(4, 62, 219);
        background-image: url("../../assets/images/red-trianglify-3c51d9e2.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       

}

.smallhome{
            margin: auto;
            width: 50%;
            height: 740px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 25px;
        
            
}      

.imgdiv{
        margin-top: 11%;
        margin-bottom: -8%;
         width: 360px;
         height: 360px;
        

}

img{
        width: 360px;
        height: 280px;
}

.itfdiv{color: white;

      }

.asdiv{
        color: white;
        text-align: center;
        width: 100%;
        font-size: 17px;
}

.logdiv{
        margin-top: 3%;

}


