
.buttons {
  color: white;
  background-color: #FF3838;
  padding: .8rem 1rem;
  border-radius: 30px;
  border: none;
  width: 8rem;
  box-shadow: -0.5px 0.5px 8px gray,  0.5px -0.5px 8px gray;
}
.buttons:hover {
  background-color:#ddafaf;
  cursor: pointer;
  transition: 1s ease;
  font-weight: bolder;
}