
.buttons {
  color: white;
  background-color: #FF3838;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  width: 8rem;
  margin: 1rem;
  box-shadow: -0.5px 0.5px 8px gray,  0.5px -0.5px 8px gray;
}
.buttons:hover {
  background-color:#be8787;
  cursor: pointer;
  transition: 1s ease;
  font-weight: bolder;
}