.Cusbutton{
    background-color: red;
    border: 1px solid red;
    color: white;
    box-shadow: -0.5px 0.5px 8px rgb(97, 93, 93), 0.5px -0.5px 8px rgb(97, 93, 93);
    font-family: inter;
}
.Cusbutton:hover{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color: black;
    transition: 1s ease ;
    cursor: pointer;
}